# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

backend/functions/src/serviceAccount.json
backend/functions/lib/serviceAccount.json
